* {
    font-family: 'Roboto', sans-serif;
}

.small-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border-color: #3882f6;
    border-width: 2px;
    border-style: solid;
}

.big-img {
    width: 400px;
    height: 300px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-bottom: 144px;
}

span {
    font-weight: bold;
}
.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.link1 {
    margin-left: auto;
}

.top {
    background-color: #1f2937;
    padding: 32px 144px 120px 144px;
}

.hero-image-part {
    display: flex;
    gap: 48px;
    justify-content: space-between;
}

.hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.awesome-area {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 16px;
    justify-content: space-between;
}

button {
    background-color: #3882f6;
    width: 108px;
    height: 24px;
    color: #e5e7eb;
    border-radius: 5px;
    border: none;
}

p {
    margin: 0;
}

.mid {
 padding: 60px 288px 96px 288px;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 48px;
}

.information {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.little-info {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 8px;
}

.description {
    text-align: center;
}

.quote {
    font-size: 36px;
    font-weight: light; 
    font-style: italic;
    color: #1f2937;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 120px 300px 120px 300px;
}

.thor {
    font-weight: bold;
    text-align: right;
    font-size: 18px;
}

.call-to-action {
    background-color: #3882f6;
    display: flex;
    margin: 72px 96px;
    padding: 48px 60px;
    border-radius: 5px;
    color: #f9faf8;
    justify-content: space-between;
    align-items: center;
}

.sign-up2 {
    border-color:#e5e7eb;
    border-style: solid;
    border-width: 2px;
}

.call-to-action span {
    font-weight: bold;
    font-size: 20px;
}

.call-to-action div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}